@*@page
@model BlazorOpenBank.Pages
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="CreateUser.Email" class="form-control" aria-required="true" />
                <label asp-for="CreateUser.Email"></label>
                <span asp-validation-for="CreateUser.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="CreateUser.UserPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="CreateUser.UserPassword"></label>
                <span asp-validation-for="CreateUser.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="CreateUser.FullName" class="form-control" aria-required="true" />
                <label asp-for="CreateUser.FullName"></label>
                <span asp-validation-for="CreateUser.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="CreateUser.Username" class="form-control" aria-required="true" />
                <label asp-for="CreateUser.Username"></label>
                <span asp-validation-for="CreateUser.Username" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@