@model DateModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.DateNow</h1>
<h2>@Model.Name</h2>

<div class="text-center">
    <h1 class="display-4">Welcome to Upskill</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
