@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Northwind Store Database</h1>
    <p>Here you will find all that you are looking for. Sit back and relax, Northwind is a trustworthy organization with over 30 years of experience</a>.</p>

    
</div>



    
